<h1 class="page_title">Post Details</h1>
<div class="post_wrapper">
    <div class="post_header">
        <h3 class="post_title">
        <%= @post.title %> by <%= @post.user.name %>
        </h3>
        <div class="post_info">
            <span>Comments: <%= @post.comments_counter %></span>
            <span>Likes: <%= @post.likes_counter %></span>
        </div>
    </div>

    <%= render 'partials/like_button', like: Like.new, user: @post.user, post: @post %>

    <p class="post_content">
        <%= @post.text %>
    </p>

    <% if @post.comment.any? %>
        <% @post.comment.each do |comment| %>
            <%= render 'partials/comment_card', comment: comment, user: @post.user %>
        <% end %>
    <% else %>
        <p>No comments yet</p>
    <% end %>
</div>

<h3>Add new comment:</h3>
<%= render 'partials/comment_form', comment: Comment.new, user: @post.user, post: @post %>
